html {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 70px;
    color: white;
    font-weight: bold;
}

a {
    font-size: 18px;
    color: white;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

.title h3 {
    color: white
}

p {
    font-size: 14px;
}

.title {
    background-image: url("../img/the-flatiron-building.png");
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    background-color: dimgray;
    text-align: left;
    color: white;
}

.footer p {
    font-size: 11px;
}